*{
	box-sizing: border-box;
}

body{
    background-color: #B9B7BD;
}

#meni{ 
    width: 100%;
    height: 100px;
    display: inline-block;
    background-color: #B9B7BD;
}

#meni li{
    display: flex;
    width: 100%;
}

#odabirVjezbe{
    margin-bottom: 10px;
    background-color: #B9B7BD;
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    float:left;
}

.vjezba{
    padding: 5px;
    font-size: 12pt;
    margin-top: 5px;
    width: 100%;
    text-align: center;
    background-color: #EEEDE7;
}

.container{
    padding: 5px;
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(100px, auto) );
    background-color: #868B8E;
}

.graf{ 
    padding: 5px;
    height: auto;
    width: 100%;
}

.grid_slika{
    width: 100%;
    float:right;
    display: grid;
    grid-template-columns: auto;
}

h4{
    padding: 5px;
    margin: 0%;
    width: 100%;
    text-align: center;
    background-color: #EEEDE7;
}

img{
    height: auto;
    width: 100%;
}


@media only screen and (min-width: 800px){
    #meni li{
        vertical-align: top;
        display: inline;
    }

    #odabirVjezbe{
        margin-bottom: 10px;
        background-color: #B9B7BD;
        height: auto;
        width: 33.3%;
        display: grid;
        grid-template-columns: auto;
        float:left;
    }

    .container{
        padding: 5px;
        margin-top: 5px;
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(100px, auto) );
        background-color: #868B8E;
    }
    
    .grid_slika{
        width: 66%;
        float:right;
        display: grid;
        grid-template-columns: auto auto;
    }

    
}