*{
	box-sizing: border-box;
}

body{
    background-color: #EEEDE7;
}

h1{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding: 20px;
    color: #868B8E;
}

.izgled_tabele{
    width: 80%;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #868B8E;
}

td:nth-child(1) {
    height: 30px;
}

input{
    width: 100%;
    height: 100%;
    padding: 5px;
    margin:5px;
}

button{
    height: 100%;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #868B8E;
    color:#EEEDE7;
}

