*{
	box-sizing: border-box;
}

body{
    background-color: #B9B7BD;
}

#meni{
    padding-top: 40px;
    width: 100%;
    height: 100px;
    display: inline-block;
    background-color: #B9B7BD;
}

#meni li{
    vertical-align: top;
    display: inline;
}

#studenti{
    height: auto;
    width: 100%;
    background-color: #E7D2CC;
}

#grupe{
    padding: 10px;
    width: 100%;
    background-color: #B9B7BD;
}


.container{
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(100px, auto) );
}

.grid_item{
    padding: 10px;
    border-radius:5%;
    text-align: center;
    background-color: #EEEDE7;
}   
table{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

thead{
    background-color: #868B8E;
}

tbody{
    background-color: #EEEDE7;
}

td{
    width: 33%;
    padding: 10px;
}

@media only screen and (min-width: 800px){
    #studenti{
        height: auto;
        width: 60%;
        float:left;
        background-color: #E7D2CC;
    }

    #grupe{
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 0;
        padding-bottom: 0;
        width: 40%;
        float:right;
        background-color: #B9B7BD;
    }
}

@media only screen and (max-width: 499px){
    #meni{
        width: 100%;
        display: inline-block;
        background-color: #B9B7BD;
    }
    #meni menu{
        padding: 0;
        vertical-align: top;
        list-style-type: none;
        width: 100%;
    }

    #meni li{
        display: flex;
        width: 100%;
    }

    #grupelnk{
        width: 100%;
    }

    #vjezbelnk{
        width: 100%;
    }

    th:nth-child(n+2), td:nth-child(n+2) { 
        display: none;
    }

}